config/
scripts/
.idea/
.snakemake/
README.new
Rplots.pdf
kraken_database/
mitochondrial_sed.txt
new_nuclear_results_with_cov.txt
output
output.txt
output_v0/
output_v0_summary/
overview_output/
overview_output_summary/
pipeline.local.smk.save
pipeline.local.v1.smk
prepare_mito_nucl_comp_table.R
probeset/
quicksand_report/
quicksant_sed_database_output.csv
quicksant_sed_database_output.txt
sediment_database.txt
summary_stats_L35MQ25.txt
